/Problema-1_Ventas/nbproject/private/
/Problema-1_Ventas/build/
/ProblemaVentas1/nbproject/private/
/ProblemaVentas1/build/
/prueba/nbproject/private/
/prueba/build/
/Solucion_Codigo/Problema-1_Ventas/nbproject/private/
/Solucion_Codigo/Problema-1_Ventas/build/
/Solucion_Codigo/Problema-2_Empleados/nbproject/private/
/Solucion_Codigo/Problema-2_Empleados/build/
